{% layout "layouts/chat.liquid" %}
{% block content %}

<div class="split">
  <section class="rooms">
    <div id="rooms">
      <button id="create-room">
        Create A Room
      </button>
      <dialog id="create-room-dialog">
        <header>
          <button id="close-dialog" class="close-dialog">
            <span class="icon">close</span>
          </button>
          <h2>Create A Room</h2>
        </header>
        <form action="/chat/create-room" method="POST" id="create-room-form">
          <div class="form-group">
            <label for="room-name">Room Name</label>
            <input type="text" id="room-name" name="name" placeholder="Room Name" required>
          </div>
          <div class="form-group">
            <label for="icon-select">Room Icon</label>
            <select id="icon-select" name="icon" required>
              <button>
                <selectedcontent></selectedcontent>
              </button>
              <option value="">Please select an Icon</option>
              <option value="home"><span class="icon home-icon">home</span>Home</option>
              <option value="chat"><span class="icon chat-icon">chat</span>Chat</option>
              <option value="group"><span class="icon group-icon">group</span>Group</option>
              <option value="settings"><span class="icon settings-icon">settings</span>Settings</option>
              <option value="favorite"><span class="icon favorite-icon">favorite</span>Favorite</option>
              <option value="forum"><span class="icon forum-icon">forum</span>Forum</option>
              <option value="emoji_emotions"><span class="icon emoji-emotions-icon">emoji_emotions</span>Fun
              </option>
              <option value="public"><span class="icon public-icon">public</span>Public</option>
              <option value="lock"><span class="icon lock-icon">lock</span>Private</option>
              <option value="star"><span class="icon star-icon">star</span>Starred</option>
              <option value="lightbulb"><span class="icon lightbulb-icon">lightbulb</span>Ideas</option>
              <option value="work"><span class="icon work-icon">work</span>Work</option>
              <option value="school"><span class="icon school-icon">school</span>School</option>
              <option value="travel_explore"><span class="icon travel-explore-icon">travel_explore</span>Travel
              </option>
              
              <!-- Add more Material Icons as needed -->
            </select>
            <span id="icon-preview" class="icon">home</span>
          </div>
          <div class="form-group">
            <label for="description">Room Description</label>
            <textarea id="description" name="description" placeholder="Room Description" required
                      cols="40"></textarea>

          </div>
          <button type="submit" id="create-room">Create</button>
          <button id="cancel">Cancel</button>
        </form>
      </dialog>
      <div id="room-list">
        <ul>
          {% for chat in rooms %}
          <li>
            {% if slug %}
            {% if chat.id == slug %}
            <a class="active icon-w-text" href="/chat/{{ chat.id }}">
              <span class="icon">{{ chat.icon }}</span>
              <span class="room-name">{{ chat.name }}</span>
            </a>
            {% else %}
            <a class="icon-w-text" href="/chat/{{ chat.id }}">
              <span class="icon">{{ chat.icon }}</span>
              <span class="room-name">{{ chat.name }}</span>
            </a>
            {% endif %}
            {% else %}
            <a class="icon-w-text" href="/chat/{{ chat.id }}">
              <span class="icon">{{ chat.icon }}</span>
              <span class="room-name">{{ chat.name }}</span>
            </a>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
  </section>


  <section class="chat">
    {% if room.id %}
    <div class="chat-container"></div>
    <div>
      <form id="chat-form">
        <input type="hidden" name="room_id" value="{{ room.id }}">
        <input type="hidden" name="user_id" value="{{ user.id }}">
        <input type="hidden" name="username" value="{{ user.username }}">
        <input type="text"><button>send</button>
      </form>
    </div>
    {% else %}
    <div class="chat-container">
      <p>{{room}}</p>
      <p>No chat Selected</p>
    </div>

    {% endif %}



  </section>
</div>
{% endblock %}